<html>
    <head>
        <!-- bootstrap -->
        <title>my blog</title>       
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>

    <body>
        <form method="get" action="">
            {{ form }}
            <input type="submit" value="検索">
        </form>

        {% for post in posts %}
          <div>
            loginuser: {{ user.username }}<br>
            {% if request.user.is_authenticated %}
                <a href="{% url 'account:logoutview' %}" class="btn btn-primary">LOGOUT</a>
            {% else %}
              <a href="{% url 'account:loginview' %}" class="btn btn-primary">LOGIN</a>
            {% endif %}
            <a href="{% url 'blog:post_list' %}" class="btn btn-primary">HOME</a>
            <a href="{% url 'blog:create_article' %}" class="btn btn-primary">記事の作成</a>
              <p>date: {{ post.created_date }}</p>
              <h1><a href="{% url 'blog:article' post.id %}">{{ post.title }}</a></h1>
              <p>{{ post.text|linebreaksbr }}</p>
              <hr>
          </div>
        {% endfor %}

    </body>
</html>